services:
  nubbybot:
    build: .
    container_name: nubbybot
    restart: unless-stopped
    env_file: .env
    environment:
      - DB_PATH=/config/nubbybot.db
    volumes:
      - ./config:/config
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
